/**
 * @file
 * Gin Layout builder overrides.
 */

.layout-main-wrapper {
  z-index: unset !important;
}

.glb-toolbar--extended.glb-toolbar {
  z-index: 502;
}

.paragraphs-actions .paragraphs-icon-button {
  padding: 0.25rem 0.75rem !important;
  font-size: 0.8rem !important;
}

.paragraphs-dropdown-actions {
  color: var(--colorGinButtonText) !important;
  background: var(--colorGinLayer3Background) !important;
  border: 0 none !important;
  border-radius: var(--ginBorderXSmall) !important;
  box-shadow: var(--ginShadowLevel2) !important;
}

.paragraphs-dropdown-actions .paragraphs-dropdown-action {
  font-size: 0.8125rem !important;
  padding: 0.5rem 1rem !important;
  margin: 0 !important;
  border: 0 none !important;
}

.tabledrag-toggle-weight {
  color: var(--colorGinPrimary) !important;
  font-weight: 500;
  border-bottom: 1px solid var(--colorGinPrimary) !important;
}

.form-item-settings-admin-label {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin: 0 !important;
}
