/**
 * @file
 * Base stylesheet for flex-box based grid of layout sections.
 */

.l-container,
.c-title {
  width: 100%;
}

.l-grid {
  display: flex;
  flex-wrap: wrap;
}

.l-container--onecol .l-grid {
  display: block;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .l-grid__item {
    flex: 0 1 100%;
  }
}

.c-title--text-align-center {
  text-align: center;
}

.c-title--text-align-left {
  text-align: left;
}

.c-title--text-align-right {
  text-align: right;
}

.slb-bg-red {
  background-color: #eb4d4b !important;
}

.slb-bg-green {
  background-color: #6ab04c !important;
}

.slb-bg-blue {
  background-color: #4834d4 !important;
}

.slb-bg-yellow {
  background-color: #f9ca24 !important;
}

.slb-bg-white {
  background-color: #fff !important;
}

.slb-bg-black {
  background-color: #1b1b1d !important;
}

.slb-padding-top-s {
  padding-top: 8px;
}

.slb-padding-top-m {
  padding-top: 16px;
}

.slb-padding-top-l {
  padding-top: 24px;
}

.slb-padding-top-xl {
  padding-top: 32px;
}

.slb-padding-bottom-s {
  padding-bottom: 8px;
}

.slb-padding-bottom-m {
  padding-bottom: 16px;
}

.slb-padding-bottom-l {
  padding-bottom: 24px;
}

.slb-padding-bottom-xl {
  padding-bottom: 32px;
}

.slb-padding-left-s {
  padding-left: 8px;
}

.slb-padding-left-m {
  padding-left: 16px;
}

.slb-padding-left-l {
  padding-left: 24px;
}

.slb-padding-left-xl {
  padding-left: 32px;
}

.slb-padding-right-s {
  padding-right: 8px;
}

.slb-padding-right-m {
  padding-right: 16px;
}

.slb-padding-right-l {
  padding-right: 24px;
}

.slb-padding-right-xl {
  padding-right: 32px;
}

.slb-spacing-top-s {
  margin-top: 8px;
}

.slb-spacing-top-m {
  margin-top: 16px;
}

.slb-spacing-top-l {
  margin-top: 24px;
}

.slb-spacing-top-xl {
  margin-top: 32px;
}

.slb-spacing-bottom-s {
  margin-bottom: 8px;
}

.slb-spacing-bottom-m {
  margin-bottom: 16px;
}

.slb-spacing-bottom-l {
  margin-bottom: 24px;
}

.slb-spacing-bottom-xl {
  margin-bottom: 32px;
}

.slb-spacing-left-s {
  margin-left: 8px;
}

.slb-spacing-left-m {
  margin-left: 16px;
}

.slb-spacing-left-l {
  margin-left: 24px;
}

.slb-spacing-left-xl {
  margin-left: 32px;
}

.slb-spacing-right-s {
  margin-right: 8px;
}

.slb-spacing-right-m {
  margin-right: 16px;
}

.slb-spacing-right-l {
  margin-right: 24px;
}

.slb-spacing-right-xl {
  margin-right: 32px;
}

