.storm-component-browser {
  display: flex;
  flex-wrap: wrap;
  padding: 36px 0;
}

.storm-component-browser > a {
  position: relative;
  display: inline-block;
  width: calc(33% - 15px);
  margin: 8px !important;
  padding: 20px 20px 20px 60px;
  text-align: left;
  text-decoration: none;
  color: var(--colorGinPrimary);
  border: 1px solid var(--colorGinPrimary);
  border-radius: 0;
  font-weight: 500;
}

.storm-component-browser > a > img {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
}
