/**
 * @file
 * Base stylesheet for flex-box based grid of layout sections.
 */

.l-container,
.c-title {
  width: 100%;
}

.l-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 40em) {
  .l-grid__item {
    flex: 0 1 100%;
  }
}

.c-title--text-align-center {
  text-align: center;
}

.c-title--text-align-left {
  text-align: left;
}

.c-title--text-align-right {
  text-align: right;
}

.slb-bg-red {
  background-color: #eb4d4b !important;
}

.slb-bg-green {
  background-color: #6ab04c !important;
}

.slb-bg-blue {
  background-color: #4834d4 !important;
}

.slb-bg-yellow {
  background-color: #f9ca24 !important;
}

.slb-bg-white {
  background-color: #fff !important;
}

.slb-bg-black {
  background-color: #000 !important;
}
