/**
 * @file
 * Base stylesheet for flex-box based grid of layout sections.
 */

.l-container,
.c-title {
  width: 100%;
}

.l-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 40em) {
  .l-grid__item {
    flex: 0 1 100%;
  }
}

.c-title--text-align-center {
  text-align: center;
}

.c-title--text-align-left {
  text-align: left;
}

.c-title--text-align-right {
  text-align: right;
}
