{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'l-grid',
    'l-grid--onecol',
  ]
%}
{% if content %}
  <div{{attributes.addClass(classes)}}>
    <h2 class='c-title'>{{ content['#settings']['section_title'] }}</h2>
    <div {{ region_attributes.content.addClass('l-grid__item', 'l-grid__item--content') }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
